* {
	background-color: black;
}
#canvas {
	background-color: white;
	position: relative;
	top: 50px;
	left: 20px;
}
#clear {
	color: white;
	position: relative;
	bottom: 473px;
	right: 950px;
}
#color {
	color: white;
    position: relative;
    bottom: 470px;
    right: 1002px;
}
#save {
	color: white;
	position: relative;
    	right: 800px;
    	bottom: 480px
}
}
#chooseSize {
	position: relative;
    bottom: 500px;
    right: 900px;
}